

body{
    width: 500px;
    background-image: url(https://cdn.discordapp.com/attachments/842979768759484416/994486165094809700/bannerfinal.png);
    background-repeat: no-repeat;
    background-color: grey;
}
