body {
    width: 750px;
    background-image: url(https://cdn.discordapp.com/attachments/842979768759484416/994486165094809700/bannerfinal.png);
    background-repeat: no-repeat;
    background-color: grey;
}


.popup{
    width: 700px;
    background: rgb(160, 160, 160, 0.91);
    border: 6px solid black;
    margin: 12px 10px;
    padding: 12px 10px;
    position: absolute;
    top: 0;
    left: 63%;
    transform:translate(-50%,-50%) scale(0.1);
    visibility:hidden;
    transition: transform 0.4s, top 0.4s
}

.open-popup{
    visibility: visible;
    top: 40%;
    transform:translate(-50%,-50%) scale(1);
}

.popup h2{
    font-family: 'Acme', sans-serif;
    font-size: 30px;
}

#popuppara{
    font-size: 20px;
}

.popup button{
    font-family: 'Acme', sans-serif;
    color: white;
    background-color: black;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}


.division1 {
    width: 500px;
    border: 3px solid grey;
    background-color: rgb(160, 160, 160);
    margin: 10px 150px;
}

h3{
    font-family: 'Koulen', cursive;
}

.item {
    font-size: 20px;
    border: 3px solid grey;
    margin: 12px 10px;
    padding: 12px 10px;
    background: rgb(248, 238, 238);
    text-align: center;
}

.item {
    transition-property: margin;
    transition-duration: 20ms;
    transition-property: border;
    transition-duration: 20ms;

}

.item:hover {
    margin: 15px 15px;
    border: 6px solid grey;
}

h1 {
    font-family: 'Splash', cursive;
    font-size: 150px;
    position: relative;
    left: 200px;
    margin: 20px;
    cursor:pointer;
}

